@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    @apply text-4xl  pb-5 justify-center text-pink-200 pt-32 font-bold;
}

h2 {
    @apply text-3xl text-pink-200 ;
}

h3 {
    @apply text-2xl pt-2 text-cyan-100;
}

th {
    @apply font-bold text-yellow-100 w-full;
}

td {
    @apply w-full;
}

p, li {
    @apply text-lg justify-center text-pink-50 text-left;
}

a {
    @apply text-lg;
}

b {
    @apply text-yellow-100;
}