@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}


.ghost-border {
    border: 1px solid rgba(59, 73, 76, 0.15);
}

h1 {
    @apply text-4xl md:text-6xl font-headline pt-32 pb-5
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-2xl;
}